body {
    font-family: 'Inter', sans-serif;
}

.modal-body::-webkit-scrollbar {
    width: 6px;
}
.modal-body::-webkit-scrollbar-track {
    background: rgba(55, 236, 19, 0.05);
}
.modal-body::-webkit-scrollbar-thumb {
    background: rgba(55, 236, 19, 0.2);
    border-radius: 10px;
}